* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    font-family: 'Russo One', sans-serif;
}

/*NAVBAR*/
.logosenac{
    position: absolute;
    top: 3%;
    max-height: 40px;
    left: 35px;
  }

nav {
    background-color: #483D8B	;
    text-align: center;
    animation: flow 30s ease-in-out infinite;
  background: radial-gradient(circle,#B689A4,#712954,#570F3A,#410B2C);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: padding-box;
  -webkit-text-fill-color: white;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

nav ul li {
    width: 120px;
    margin: 10px;
    padding: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #fffefe;
}

.sub-menu-contatos {
    display: none;
}

nav ul li:hover .sub-menu-contatos {
    display: block;
    position: absolute;
    background-color: #483D8B;
    margin-top: 15px;
    margin-left: -38px;
    transition: 1s all;
      animation: flow 30s ease-in-out infinite;
  background: radial-gradient(circle,#B689A4,#712954,#570F3A,#410B2C);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: padding-box;
  -webkit-text-fill-color: white;
   backdrop-filter: blur(30px);
     
}

nav ul li:hover .sub-menu-contatos ul {
    display: block;
    transition: 1s all;
}

nav ul li:hover .sub-menu-contatos ul li {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition:1s all;
    
}

nav ul li:hover .sub-menu-contatos ul li:hover {
    background-color: #663399	;
    transition: 1s all;
}

/*NAVBAR FIM*/
.subtitulo{
    color: #21203f;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 2px;
}
.imagem{
    position: absolute;
    width: 550px;
    height: 500px;
    top: 150px;
    bottom: 0;
    right: -50px;
    left: 0;
    margin: auto;
}
.tipos{
    color: #7a297a;
    margin: 0 10px;
}
.alopecia{
    float: right;
    position: absolute;
    right: 290px;
    text-decoration: underline;
    font-size: 1px;
    text-transform: uppercase;
    font-style: normal;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}
.oleosidade{
    float: right;
    position: absolute;
    right: 250px;
    bottom: 310px;
    text-decoration: underline;
    font-size: 1px;
    text-transform: uppercase;
    font-style: normal;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}
.caspa{
    position: absolute;
    float: left;
    left: 300px;
    text-decoration: underline;
    font-size: 1px;
    text-transform: uppercase;
    font-style: normal;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}
.crescimento{
    float: right;
    position: absolute;
    right: 440px;
    bottom: 80px;
    text-decoration: underline;
    font-size: 1px;
    text-transform: uppercase;
    font-style: normal;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}
.quebra{
    float: left;
    position: absolute;
    bottom: 310px;
    left: 250px;
    text-decoration: underline;
    font-size: 1px;
    text-transform: uppercase;
    font-style: normal;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}

/* Modal */

.titulo-modal{
    position: relative;
    color: #21203f;
    top: -35px;
    text-decoration:underline;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 2px;
}

.modal-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color:rgba(0, 0,0,.5);
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;

}

.modal-container.mostrar{
    display: flex;

}

.modal{
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    color: #483D8B;
    border: 10px solid #988b7a;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar{
    display: block;
}

.mostrar .modal{
    animation: modal .3s;
}



.fechar{
    position: absolute;
    font-size: 1.2em;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #988b7a ;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0 ,0 ,.3 );


}
/* Modal Fim */
 
