

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
  font-weight: bold;

}
::-webkit-scrollbar {
display: none;
}

body {
  /*background-clip: url(img/Chain - 25380.mp4); /*NÃO CONSIGO PEGAR IMAGEM QUE ESTÁ LOCALIZADA EM ASSETS/IMG*/
  /*background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Russo One', sans-serif;*/
}

 /*BACKGROUND*/

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
 /*BACKGROUND FIM*/

/*NAVBAR*/

.logosenac{
  position: absolute;
  top: 3%;
  max-height: 40px;
  left: 35px;
}

nav {
  background-color: #483D8B	;
  text-align: center;
  height: 80px;
  animation: flow 30s ease-in-out infinite;
  background:  radial-gradient(circle,#B689A4,#712954,#570F3A,#410B2C);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: padding-box;
  -webkit-text-fill-color: white;
 }

nav ul {
  display: inline-flex;
  list-style: none;
}

nav ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

.sub-menu-contatos {
  display: none;
}

nav ul li:hover .sub-menu-contatos {
  display: block;
  position: absolute;
  background-color: #483D8B;
  margin-top: 15px;
  margin-left: -38px;
  transition: 1s all;
  animation: flow 30s ease-in-out infinite;
  background: radial-gradient(circle,#B689A4,#712954,#570F3A,#410B2C);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: padding-box;
  -webkit-text-fill-color: white;
   backdrop-filter: blur(30px);
  

}

nav ul li:hover .sub-menu-contatos ul {
  display: inline;
  transition: 1s all;
}

nav ul li:hover .sub-menu-contatos ul li {
  width: 150px;
  text-align: center;
  border-radius: 10px;
  transition:1s all;
  
}

nav ul li:hover .sub-menu-contatos ul li:hover {
  background-color: #663399	;
  transition: 1s all;
}

.devs{
padding: 0 0 20px 0;
}



li:hover:before,
li:hover::after,
li:hover a::before{
   width: 100%;
}

/* ...*/
ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}

a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }
 
}

 ul li ul li a { transition: all 0.5s ease; }
/*  ..*/


/*NAVBAR FIM*/



button {
    background-color: #fff1ce;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 260px;
    text-decoration: none;
    text-align: center;
}

.botao-comecar {
    
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.botao-comecar::before {
    content: '';
      border-radius: 1000px;
      min-width: calc(300px + 12px);
      min-height: calc(60px + 12px);
      border: 6px solid #00FFCB;
      box-shadow: 0 0 60px rgba(0,255,203,.64);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s ease-in-out 0s;
      
    }
    
    .button:hover, .button:focus {
      color: #313133;
      transform: translateY(-6px);
    }
    
    button:hover::before, button:focus::before {
      opacity: 1;
    }
    
    button::after {
      content: '';
      width: 30px; height: 30px;
      border-radius: 100%;
      border: 6px solid #00FFCB;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
    }
    
    button:hover::after, button:focus::after {
      animation: none;
      display: none;
    }
    
    @keyframes ring {
      0% {
        width: 30px;
        height: 30px;
        opacity: 1;
      }
      100% {
        width: 300px;
        height: 300px;
        opacity: 0;
      }
    }

    .nome-botao {
        text-align: center;
    }
      /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  .footer {
    margin-top: 130px;
    font-size: 14px;
    background-color: #663399;
    color: white;
   animation: flow 30s ease-in-out infinite;
  background:  radial-gradient(circle,#B689A4,#712954,#570F3A,#410B2C);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: padding-box;
  -webkit-text-fill-color: white;
  }
  
  .footer .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
  }
  
  .footer .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: var(--font-primary);
  }
  
  .footer .footer-info p {
    font-size: 14px;
    font-family: var(--font-primary);
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .footer-contact p {
    line-height: 26px;
  }
  
  .footer .copyright {
    text-align: center;
    padding-bottom: 50px;
  }
  
  .footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
  }
  
  .footer .credits a {
    color: #fff;
  }

.footer-text {
    padding-bottom: 25px;
    position: relative;
    display: inline-block;
    transition: 0.3s;
    border-bottom: 4px solid #9900FE;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .barra-footer-rec{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.instagram:hover{
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.linkedin:hover{
  background-color: #0e76a8;
}

.twitter:hover{
  background-color: #00acee;
}
