* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Russo One', sans-serif;
    overflow-y: hidden;
}

/*NAVBAR*/
.logosenac{
    position: absolute;
    top: 2%;
    max-height: 45px;
    width: 200px;
    left: 35px;
  }

nav {
    background-color: #483D8B	;
    text-align: center;
    animation: flow 30s ease-in-out infinite;
  background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: padding-box;
  -webkit-text-fill-color: white;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

nav ul li {
    width: 120px;
    margin: 10px;
    padding: 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.sub-menu-contatos {
    display: none;
}

nav ul li:hover .sub-menu-contatos {
    display: block;
    position: absolute;
    background-color: #483D8B;
    margin-top: 15px;
    margin-left: -38px;
    transition: 1s all;
    

}

nav ul li:hover .sub-menu-contatos ul {
    display: block;
    transition: 1s all;
}

nav ul li:hover .sub-menu-contatos ul li {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition:1s all;
    
}

nav ul li:hover .sub-menu-contatos ul li:hover {
    background-color: #663399	;
    transition: 1s all;
}

/*NAVBAR FIM*/

h1{
    margin: 20px 10px;
    height: 550px;
    width: 500px;
}

img{
    position: absolute;
    height: 520px;
    width: 400px;
    right: 650px;
 
}

ul{
    text-decoration: none;
    color: aliceblue;
}

button li{
top: 30px;
color: white;
position: relative;
display:inline-block ;
font-size: 30px;
text-decoration: none;
margin: 20px 0;
border: 2px solid plum;
border-radius: 30px;
padding: 14px 60px;
text-transform: uppercase;
overflow: hidden;
transition: 1s all ease;
}

button li::before{
    background: plum;
    color: white;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }

 button li::before{
    color: white;
    width: 100%;
    height: 0%;
  }
button li:hover::before{
    height: 100%;
    color: white;
}

button li a{
    text-decoration: none;
    color: #663399;
}

.opcoes{
    color: rgb(248, 248, 248);
    position: absolute;
    right: 300px;
    margin-top: -38%;
}

@media screen and (max-widht:768px) {
    nav, opcoes, img{
        width: 100%;
    }
    
}
